<%- include("header.ejs") %>
<body>
    <form action="/submit" method="POST" class="form">
       <label for="name">Name :</label>
       <input type="text" name="name" placeholder="Enter your name" value="<%=data.name %>"><br>
       <label for="email">Email :</label>
       <input type="email" name="email" placeholder="Enter your email" value="<%=data.email %>"><br>
       <label for="topic">Assignment Topic :</label>
       <input type="text" name="topic" placeholder="Enter your Assignment Topic" value="<%= data.topic %>"><br>
       <label for="content">Content</label>
       <textarea name="content" cols="30" rows="10" placeholder="Write your Assignment here..."><%= data.content %></textarea><br>
       <input type="submit" value="update">
    </form>
</body>
</html>